{% extends 'base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to Data Loss Pevention Tool!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Run DLP to search for leaks in messages present in SQS queue.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'dlp:searcher' %}">Run Tool →</a>
      </div>
    </div>
  </div>

{% endblock %}
